variables:
  NPM_CONFIG_YES: "true"
  CI: "false"

stages:
  - build
  - deploy

default:
  tags:
    - moe-kain

# ==================== BUILD STAGES ====================

build_admin_ui:
  stage: build
  script:
    - cd moe_admin_ui
    - npm install
    - npm run build
  artifacts:
    when: always
    paths:
      - moe_admin_ui/dist/  # This saves the folder for the next stage
    expire_in: 1 day
  only:
    - main

# ==================== DEPLOY STAGES ====================

deploy_fe_admin:
  stage: deploy
  needs: ["build_admin_ui"]
  script:
    # Use standard Shell/PowerShell syntax. Ensure variables are set in GitLab CI/CD Settings
    - echo "Logging in to Azure..."
    - az login --service-principal -u "$AZURE_CLIENT_ID" -p "$AZURE_CLIENT_SECRET" --tenant "$AZURE_TENANT_ID"
    
    - echo "Deploying to Static Web App..."
    # The source should point to the artifact folder downloaded from the build stage
    - az staticwebapp deploy --name "$AZURE_APP_NAME" --resource-group "$RESOURCE_GROUP" --source "./moe_admin_ui/dist" --token "$AZURE_SWA_ADMIN_TOKEN"
  when: manual
  only:
    - main