variables:
  NPM_CONFIG_YES: "true"
  CI: "false"

stages:
  - build
  - deploy

default:
  tags:
    - moe-kain

# ==================== BUILD STAGES ====================

build_student_ui:
  stage: build
  script:
    - "cd moe_student_ui"
    - "npm install"
    - "npm run build"
  artifacts:
    paths:
      - moe_student_ui/dist/
    expire_in: 1 hour
  only:
    - main

build_admin_ui:
  stage: build
  script:
    - "cd moe_admin_ui"
    - "npm install"
    - "npm run build"
    - "ls dist" # Kiểm tra file tại chỗ
  artifacts:
    when: always
    paths:
      - "moe_admin_ui/dist/" # Đảm bảo đường dẫn này khớp từ gốc project
    expire_in: 1 day # Tăng thời gian lên để tránh hết hạn artifact khi bạn thao tác manual

# ==================== DEPLOY STAGES ====================
deploy_fe_admin:
  stage: deploy
  needs: ["build_admin_ui"]
  script:
    - Write-Host "1. Setting Binary and Environment..."
    - "$env:SWA_CLI_DEPLOY_BINARY = 'C:\swa_tool\StaticSitesClient.exe'"
    
    - Write-Host "2. Deploying FE Admin (Non-interactive)..."
    # Thêm các tham số tường minh để bypass bước 'swa init'
    - >
      swa deploy ./moe_admin_ui/dist 
      --app-location ./moe_admin_ui 
      --output-location ./dist 
      --deployment-token $env:AZURE_SWA_ADMIN_TOKEN 
      --env production 
      --no-unattended
  when: manual
  only:
    - main