image: node:24

stages:
  - build
  - deploy

default:
  tags:
    - dind-test


# ==================== BUILD FE ADMIN ====================
build_admin_ui:
  stage: build
  script:
    - cd moe_admin_ui
    - npm install
    - npm run build
  artifacts:
    paths:
      - moe_admin_ui/dist/
    expire_in: 1 hour

# ==================== BUILD FE USER ====================
build_student_ui:
  stage: build
  script:
    - cd moe_student_ui
    - npm install
    - npm run build
  artifacts:
    paths:
      - moe_student_ui/dist/
    expire_in: 1 hour

# ==================== DEPLOY TO AZURE SWA ====================

deploy_fe_admin:
  stage: deploy
  image: mcr.microsoft.com/azure-cli
  dependencies:
    - build_admin_ui
  script:
    - echo "Deploying FE Admin to Azure Static Web App..."
    - npx @azure/static-web-apps-cli deploy ./moe_admin_ui/dist --deployment-token $AZURE_SWA_ADMIN_TOKEN --env production
  when: manual
  only:
    - main

deploy_fe_user:
  stage: deploy
  image: mcr.microsoft.com/azure-cli
  dependencies:
    - build_student_ui
  script:
    - echo "Deploying FE User to Azure Static Web App..."
    - npx @azure/static-web-apps-cli deploy ./moe_student_ui/dist --deployment-token $AZURE_SWA_STUDENT_TOKEN --env production
  when: manual
  only:
    - main