variables:
  NPM_CONFIG_YES: "true"
  CI: "false"

stages:
  - build
  - deploy

default:
  tags:
    - moe-kain

# ==================== BUILD FE ADMIN ====================
build_admin_ui:
  stage: build
  script:
    - "Write-Host 'Entering directory moe_admin_ui...'"
    - "cd moe_admin_ui"
    - "npm install"
    - "npm run build"
    - "if (Test-Path 'dist') { Get-ChildItem 'dist' } else { Write-Error 'Build failed: dist folder not found'; exit 1 }"
    - "cd .."
  artifacts:
    paths:
      - moe_admin_ui/dist/
    expire_in: 1 hour
  only:
    - main

# ==================== BUILD FE USER ====================
build_student_ui:
  stage: build
  script:
    - "Write-Host 'Entering directory moe_student_ui...'"
    - "cd moe_student_ui"
    - "npm install"
    - "npm run build"
    - "if (Test-Path 'dist') { Get-ChildItem 'dist' } else { Write-Error 'Build failed: dist folder not found'; exit 1 }"
    - "cd .."
  artifacts:
    paths:
      - moe_student_ui/dist/
    expire_in: 1 hour
  only:
    - main

# ==================== DEPLOY TO AZURE SWA ====================

deploy_fe_admin:
  stage: deploy
  needs: ["build_admin_ui"]
  dependencies:
    - build_admin_ui
  script:
    - "Write-Host 'Checking for swa command path...'"
    - "Get-Command swa | Select-Object -ExpandProperty Source"
    - "Write-Host 'Checking deployment folder...'"
    - "if (Test-Path './moe_admin_ui/dist') { Get-ChildItem ./moe_admin_ui/dist } else { Write-Error 'Folder dist not found in artifacts!'; exit 1 }"
    - "Write-Host 'Deploying FE Admin to Azure Static Web App...'"
    - "swa deploy ./moe_admin_ui/dist --deployment-token $env:AZURE_SWA_ADMIN_TOKEN --env production"
  when: manual
  only:
    - main

deploy_fe_user:
  stage: deploy
  needs: ["build_student_ui"]
  dependencies:
    - build_student_ui
  script:
    - "Write-Host 'Checking for swa command path...'"
    - "Get-Command swa | Select-Object -ExpandProperty Source"
    - "Write-Host 'Checking deployment folder...'"
    - "if (Test-Path './moe_student_ui/dist') { Get-ChildItem ./moe_student_ui/dist } else { Write-Error 'Folder dist not found in artifacts!'; exit 1 }"
    - "Write-Host 'Deploying FE User to Azure Static Web App...'"
    - "swa deploy ./moe_student_ui/dist --deployment-token $env:AZURE_SWA_STUDENT_TOKEN --env production"
  when: manual
  only:
    - main