variables:
  NPM_CONFIG_YES: "true"
  CI: "false"

stages:
  - build
  - deploy

default:
  tags:
    - moe-kain

# ==================== BUILD STAGES ====================
build_admin_ui:
  stage: build
  script:
    - "cd moe_admin_ui"
    - "npm install"
    - "npm run build"
  artifacts:
    paths:
      - moe_admin_ui/dist/
    expire_in: 1 hour
  only:
    - main

build_student_ui:
  stage: build
  script:
    - "cd moe_student_ui"
    - "npm install"
    - "npm run build"
  artifacts:
    paths:
      - moe_student_ui/dist/
    expire_in: 1 hour
  only:
    - main

# ==================== DEPLOY STAGES ====================

deploy_fe_admin:
  stage: deploy
  needs: ["build_admin_ui"]
  dependencies:
    - build_admin_ui
  script:
    - "Write-Host 'Adding npm global path to Environment...'"
    # Lệnh này ép Runner tìm trong folder npm của Windows
    - "$env:Path += \";$env:AppData\npm;$env:ProgramFiles\nodejs\""
    
    - "Write-Host 'Checking deployment folder...'"
    - "if (Test-Path './moe_admin_ui/dist') { Get-ChildItem ./moe_admin_ui/dist } else { Write-Error 'Folder dist not found!'; exit 1 }"
    
    - "Write-Host 'Deploying FE Admin...'"
    # Nếu lệnh 'swa' vẫn không nhận, npx sẽ là phương án dự phòng tự động chạy được luôn
    - "npx @azure/static-web-apps-cli deploy ./moe_admin_ui/dist --deployment-token $env:AZURE_SWA_ADMIN_TOKEN --env production"
  when: manual
  only:
    - main

deploy_fe_user:
  stage: deploy
  needs: ["build_student_ui"]
  dependencies:
    - build_student_ui
  script:
    - "Write-Host 'Adding npm global path to Environment...'"
    - "$env:Path += \";$env:AppData\npm;$env:ProgramFiles\nodejs\""
    
    - "Write-Host 'Checking deployment folder...'"
    - "if (Test-Path './moe_student_ui/dist') { Get-ChildItem ./moe_student_ui/dist } else { Write-Error 'Folder dist not found!'; exit 1 }"
    
    - "Write-Host 'Deploying FE User...'"
    - "npx @azure/static-web-apps-cli deploy ./moe_student_ui/dist --deployment-token $env:AZURE_SWA_STUDENT_TOKEN --env production"
  when: manual
  only:
    - main