variables:
  NPM_CONFIG_YES: "true"
  CI: "false"

stages:
  - build
  - deploy

default:
  tags:
    - moe-kain

# ==================== BUILD FE ADMIN ====================
build_admin_ui:
  stage: build
  script:
    - Write-Host "Entering directory moe_admin_ui..."
    - cd moe_admin_ui
    - npm install
    - npm run build
  artifacts:
    paths:
      - moe_admin_ui/dist/
    expire_in: 1 hour
  only:
    - main

# ==================== BUILD FE USER ====================
build_student_ui:
  stage: build
  script:
    - Write-Host "Entering directory moe_student_ui..."
    - cd moe_student_ui
    - npm install
    - npm run build
  artifacts:
    paths:
      - moe_student_ui/dist/
    expire_in: 1 hour
  only:
    - main

# ==================== DEPLOY TO AZURE SWA ====================

deploy_fe_admin:
  stage: deploy
  dependencies:
    - build_admin_ui
  script:
    - Write-Host "Checking deployment folder..."
    - if (Test-Path "./moe_admin_ui/dist") { Get-ChildItem ./moe_admin_ui/dist } else { Write-Error "Folder dist not found!"; exit 1 }
    
    - Write-Host "Deploying FE Admin to Azure Static Web App..."
    # Bỏ flag --non-interactive vì bản 2.0.7 không hỗ trợ. 
    # Việc có deployment-token sẽ giúp nó chạy tự động.
    - npx --yes @azure/static-web-apps-cli deploy ./moe_admin_ui/dist --deployment-token $env:AZURE_SWA_ADMIN_TOKEN --env production
  when: manual
  only:
    - main

deploy_fe_user:
  stage: deploy
  dependencies:
    - build_student_ui
  script:
    - Write-Host "Checking deployment folder..."
    - if (Test-Path "./moe_student_ui/dist") { Get-ChildItem ./moe_student_ui/dist } else { Write-Error "Folder dist not found!"; exit 1 }
    
    - Write-Host "Deploying FE User to Azure Static Web App..."
    - npx --yes @azure/static-web-apps-cli deploy ./moe_student_ui/dist --deployment-token $env:AZURE_SWA_STUDENT_TOKEN --env production
  when: manual
  only:
    - main