image: mcr.microsoft.com/dotnet/sdk:10.0

variables:
  ADMIN_SOLUTION: "AdminPortal/MOE_System.sln"
  ESERVICE_SOLUTION: "EServicePortal/MOE_System.EService.sln"
  AZURE_APP_NAME: "moe-admin"
  AZURE_APP_NAME_E_SERVICE: "moe-e-service"
  RESOURCE_GROUP: "moe-system-test"

stages:
  - build
  - test
  - secret-detection
  - deploy

include:
  - template: Security/Secret-Detection.gitlab-ci.yml

default:
  tags:
    - dind-test

# ==================== ADMIN PORTAL ====================

build_admin:
  stage: build
  script:
    - echo "Restoring and Publishing Admin Portal..."
    - dotnet restore $ADMIN_SOLUTION
    - dotnet publish AdminPortal/src/MOE_System.API/MOE_System.API.csproj -c Release -o $CI_PROJECT_DIR/admin_publish
    - ls $CI_PROJECT_DIR/admin_publish
  artifacts:
    name: "admin-package"
    paths:
      - admin_publish/
    expire_in: 1 hour

# ==================== ESERVICE PORTAL ====================

build_eservice:
  stage: build
  script:
    - echo "Restoring and Publishing EService Portal..."
    - dotnet restore $ESERVICE_SOLUTION
    - dotnet publish EServicePortal/src/MOE_System.EService.API/MOE_System.EService.API.csproj -c Release -o $CI_PROJECT_DIR/eservice_publish
    - ls $CI_PROJECT_DIR/eservice_publish
  artifacts:
    name: "e-service-package"
    paths:
      - eservice_publish/
    expire_in: 1 hour

# ==================== DEPLOY TO AZURE ====================

deploy_admin_to_azure:
  stage: deploy
  image: mcr.microsoft.com/azure-cli
  tags:
    - dind-test
  dependencies:
    - build_admin
  script:
    - echo "Logging in to Azure..."
    - az login --service-principal -u $AZURE_CLIENT_ID -p $AZURE_CLIENT_SECRET --tenant $AZURE_TENANT_ID
    
    - echo "Zipping content using Python (Native)..."
    - python3 -c "import shutil; shutil.make_archive('deploy', 'zip', 'admin_publish')"
    
    - echo "Checking if deploy.zip exists..."
    - ls -lh deploy.zip
    
    - echo "Deploying to Azure Web App..."
    - az webapp deploy --name $AZURE_APP_NAME --resource-group $RESOURCE_GROUP --src-path deploy.zip --type zip

    # - echo "Force Disable Azure Auth to stop Microsoft Login prompt..."
    # - az webapp auth update --name $AZURE_APP_NAME --resource-group $RESOURCE_GROUP --enabled false
    
  when: manual
  only:
    - main

deploy_eservice_to_azure:
  stage: deploy
  image: mcr.microsoft.com/azure-cli
  tags:
    - dind-test
  dependencies:
    - build_eservice
  script:
    - echo "Logging in to Azure..."
    - az login --service-principal -u $AZURE_CLIENT_ID -p $AZURE_CLIENT_SECRET --tenant $AZURE_TENANT_ID
    
    - echo "Zipping content using Python (Native)..."
    - python3 -c "import shutil; shutil.make_archive('deploy_eservice', 'zip', 'eservice_publish')"

    - echo "Checking if deploy_eservice.zip exists..."
    - ls -lh deploy_eservice.zip
    
    - echo "Deploying to Azure Web App..."
    - az webapp deploy --name $AZURE_APP_NAME_E_SERVICE --resource-group $RESOURCE_GROUP --src-path deploy_eservice.zip --type zip

    # - echo "Force Disable Azure Auth to stop Microsoft Login prompt..."
    # - az webapp auth update --name $AZURE_APP_NAME --resource-group $RESOURCE_GROUP --enabled false
    
  when: manual
  only:
    - main
