image: mcr.microsoft.com/devcontainers/javascript-node:24

stages:
  - build
  - deploy

variables:
  NPM_CONFIG_YES: "true"
  CI: "false"

default:
  tags:
    - dind-test


# ==================== BUILD FE ADMIN ====================
build_admin_ui:
  stage: build
  script:
    - cd moe_admin_ui
    - node -v
    - npm install
    - npm run build
  artifacts:
    paths:
      - moe_admin_ui/dist/
    expire_in: 1 hour

# ==================== BUILD FE USER ====================
build_student_ui:
  stage: build
  script:
    - cd moe_student_ui
    - node -v
    - npm install
    - npm run build
  artifacts:
    paths:
      - moe_student_ui/dist/
    expire_in: 1 hour

# ==================== DEPLOY TO AZURE SWA ====================

deploy_fe_admin:
  stage: deploy
  dependencies:
    - build_admin_ui
  script:
    - echo "Checking deployment folder..."
    - ls -la ./moe_admin_ui/dist
    - echo "Deploying FE Admin to Azure Static Web App..."
    # Sử dụng npx --yes để chắc chắn không bị dừng ở bước hỏi cài đặt gói
    - npx --yes @azure/static-web-apps-cli deploy ./moe_admin_ui/dist --deployment-token $AZURE_SWA_ADMIN_TOKEN --env production
  when: manual
  only:
    - main

deploy_fe_user:
  stage: deploy
  dependencies:
    - build_student_ui
  script:
    - echo "Checking deployment folder..."
    - ls -la ./moe_student_ui/dist
    - echo "Deploying FE User to Azure Static Web App..."
    - npx --yes @azure/static-web-apps-cli deploy ./moe_student_ui/dist --deployment-token $AZURE_SWA_STUDENT_TOKEN --env production
  when: manual
  only:
    - main